:root {
    --dark-blue: #c4dff7;
    --blue: #f0f8ff;
    --black: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    background-color: var(--dark-blue);
}

.search,
.weather-block {
    background-color: var(--blue);
    margin: 16px;
    padding: 12px;
    border-radius: 16px;
}

.search {
    align-items: center;
    justify-content: center;
}

.search label {
    font-size: 1.4rem;
    font-weight: 600;
}

.search input {
    font-size: 1rem;
    width: 60%;
    padding: 2px 6px;
    border: 2px solid var(--black);
    border-radius: 6px;
}

.search button {
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid var(--black);
    border-radius: 6px;
}

.header .title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header h1 {
    font-size: 1.9rem;
}

.day {
    padding: 12px;
    display: flex;
    gap: 16px;
}

.day strong {
    font-size: 1.2rem;
}

/* first day */
#zero {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 28px 12px 12px 12px;
}

#date {
    font-weight: 600;
}

.day-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}

.day-container #left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.day-container #temp {
    font-size: 2.5rem;
    font-weight: 600;
}
/* end first day */

.day:not(:first-child) {
    gap: 16px;
}
